html {
  font-size: 62.5%;
}

h1 {
  font-weight: 600;
  text-align: center;
  color: $secondaryColor;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: left;
  color: $secondaryColor;
}

h3 {
  font-weight: 600;
  text-align: left;
  color: $secondaryColor;
}

h5 {
  font-weight: 600;
  text-align: center;
  color: $secondaryColor;
}

p {
  font-weight: 400;
  text-align: left;
  color: $textColor;
}

body {
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: $textColor;
  font-weight: 400;
  background-color: $bgColor;
}

@media (min-width: 768px) {
  h1 {
    // font-size: 48px;
    font-size: 3.75vw;
    line-height: 1.5;
  }

  h2 {
    // font-size: 16px;
    font-size: 1.25vw;
    line-height: 1.19;
  }

  h3 {
    // font-size: 32px;
    font-size: 2.5vw;
    line-height: 1.5;
  }

  h5 {
    // font-size: 36px;
    font-size: 2.8125vw;
    line-height: 2;
  }

  p {
    // font-size: 16px;
    font-size: 1.25vw;
    line-height: 2.5;
  }
}

@media (max-width: 767px) {
  h1 {
    // font-size: 30px;
    font-size: 8vw;
    line-height: 1.33;
  }

  h2 {
    // font-size: 16px;
    font-size: 4.266667vw;
    line-height: 1.5;
  }

  h3 {
    // font-size: 24px;
    font-size: 6.4vw;
    line-height: 1.67;
  }

  h5 {
    // font-size: 18px;
    font-size: 4.8vw;
    line-height: 1.78;
  }

  p {
    // font-size: 14px;
    font-size: 3.733333vw;
    line-height: 2;
  }
}
