$primaryColor: #3d3d3d;
$secondaryColor: #476b9e;
$accentColor: #e2b539;
$errorColor: #a40404;
$infoColor: #8e724d;
$successColor: #7eaf46;
$warningColor: #d13131;

$bgColor: #efede3;
$textColor: #3d3d3d;
$accentColorLight: #e8d18d;
$successColorLight: #9fc24d;
$bgColorDark: #c9c8c1;
$bgColorMedium: #d6d1c3;
